@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900&display=swap);
// Підключити, якщо є локальні файли шрифтів
//@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Montserrat";
$fontSize: toRem(16); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1770;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {

	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}

	// Сайт завантажений
	.loaded & {}
}

// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	@supports (overflow: clip) {
		overflow: clip;
	}

	// Притискаємо footer
	>main {
		flex: 1 1 auto;
	}

	// Фікс для слайдерів
	>* {
		min-width: 0;
	}
}

// Обмежуючий контейнер ======================================================================================================================================================================================================================
/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {

	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}

			@else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
}

@else {

	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;

		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		}

		@else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}

		@media (max-width: $pc) {
			max-width: toRem(970);
		}

		@media (max-width: $tablet) {
			max-width: toRem(750);
		}

		@media (max-width: $mobile) {
			max-width: none;

			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";


.main {

	&__container {}

	&__body {}

	&__menu {
		height: 100%;
		position: fixed;
		background-color: #dadada;
		padding: toRem(150) toRem(20) toRem(0) toRem(40);
		top: toRem(0);
		left: toRem(0);
	}

	&__aside-title {
		font-size: toRem(22);
		font-weight: 500;
	}

	&__form {}

	&__list {
		margin-top: toRem(30);
	}

	&__item {
		display: flex;
		gap: toRem(15);
		align-items: center;

		&:not(:last-child) {
			padding-bottom: toRem(15);
		}

	}

	&__input {
		width: toRem(20);
		height: toRem(20);
	}

	&__name {}

	&__sex {}

	&__sex-wrapper {
		display: flex;
		gap: toRem(5);
	}

	&__male {
		&--input {
			width: fit-content;
			margin-bottom: toRem(3);
		}

		&--name {
			font-size: toRem(14);
		}

	}

	&__female {
		&--input {
			width: fit-content;
		}

		&--name {
			font-size: toRem(14);
		}
	}

	&__button {
		margin-top: toRem(50);
		font-weight: 700;
		height: toRem(50);
		background-color: #5d43d3;
		color: #fff;
		width: toRem(150);
		border-radius: toRem(5);
		transition: all 0.3s;

		@media (any-hover: hover) {
			&:hover {
				background-color: #4d3e8f;
			}
		}
	}
}

.annimal-icon {
	width: toRem(80);
	height: toRem(90);
	border-radius: toRem(3);
	background-color: red;

	&.checked {

		box-shadow: 0px 0px 3px 3px #5d43d3;
	}
}

.chinchilla {
	margin-top: toRem(100);
	display: grid;
	place-items: center;

	&__block {}

	&__parents {
		display: flex;
		justify-content: center;


		&--wrapper {
			display: flex;
			width: fit-content;
			//justify-content: center;
			gap: toRem(30);
			background-color: #d3d3d3;
			padding: toRem(15);
			border-radius: toRem(3);
		}
	}


	&__male {}

	&__female {}

	&__childs {
		display: flex;

		justify-content: space-between;
		gap: toRem(30);
		padding-top: toRem(80);
	}

	&__child {

		border-radius: toRem(3);
		background-color: red;
		position: relative;


	}
}

.chinchilla-name {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: #5d43d3;
	width: 100%;
	padding: toRem(5);
}


//========================================================================================================================================================